/* Encompasses the icon and header */
.glfh_headerContainer {
    position: relative;
    display: inline;
}

/* Handles the icon's location and fading transition */
.glfh_linkContainer {
    opacity: 0.0;
    transition: all 200ms ease-out;
    position: absolute;
    left: -25px;
    padding-right: 25px;
    z-index: 2147483647;
}

.glfh_linkContainer > a {
    text-decoration: none !important;
}

.glfh_linkContainer > a:hover {
    text-decoration: none !important;
}

/* An invisible border around the icon so there's no jitter when a border is shown */
.glfh_linkContainer svg {
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 150ms ease-in;
    fill: currentColor;
}

/* Hovering anywhere over the header makes the icon visible */
.glfh_headerContainer:hover > .glfh_linkContainer {
    opacity: 1.0;
}

h1, h2, h3, h4, h5, h6 {
    overflow: visible !important;
}