.glfh_headerContainer {
    margin-left: -25px;
}

.glfh_linkContainer {
    width: 25px;
    display: inline-block;
    opacity: 0.0;
    vertical-align: middle;
    transition: all 200ms ease-out;
}

.glfh_textContainer {
    display: inline-block;
    vertical-align: middle;
}

.glfh_linkContainer > a:hover {
    text-decoration: none;
}

.glfh_headerContainer:hover > .glfh_linkContainer {
    opacity: 1.0;
}
